* {
    padding: 0;
    margin: 0;
}

body {
}

.viewport {
    height: 100vh;
    background-color: lightblue;
    position: relative;
}

.viewport:nth-child(even) {
    background-color: lightsalmon;
}

.card {
    color: white;
    font-size: 3em;
    position: absolute;
    background: #000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 12em;
    overflow: hidden;
    border-radius: 0.2em;
}

.card:before {
    display: block;
    content: '';
/* background:rgba(0, 0, 0, 0.5); */
    z-index: 10;
    position: relative;
}

.card.ar-16x9:before {
    padding-top: calc( ( 9 / 16 ) * 100%);
}  

.card.ar-9x16 {
    width: 6em;
}

.card.ar-9x16:before {
    padding-top: calc( ( 16 / 9 ) * 100%);
}

.card .media {  
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: blue;
}

.card.portrait img {
    display: block;
    height: 100%;
    width: auto;
}

.card.landscape img {
    display: block;
    height: auto;
    width: 100%;
}