* {
    padding: 0;
    margin: 0;
}

body {
}

.viewport {
    height: 100vh;
    background-color: lightblue;
    position: relative;
}

.viewport:nth-child(even) {
    background-color: lightsalmon;
}

.card {
    color: white;
    font-size: 3em;
    position: absolute;
    background: #000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 12em;
    overflow: hidden;
    border-radius: 0.2em;
    box-shadow: 0 0 1.5rem 0.1em rgba(0, 0, 0, 0.6);
    cursor: pointer;
    transition: opacity 0.3s ease-in;

}

.card:before {
    display: block;
    content: '';
/* background:rgba(0, 0, 0, 0.5); */
    box-shadow: 0 0 2em 0.2em rgba(0, 0, 0, 0.9) inset;
    z-index: 10;
    position: relative;
    transition: opacity 0.3s ease-in;
    pointer-events: none;
}

.card:hover {
    transform: translate(-50%, -50%) scale(1.1);
}

.card:hover:before {
    opacity: 0.1;
}

.card.ar-16x9:before {
    padding-top: calc( ( 9 / 16 ) * 100%);
}  

.card.ar-9x16 {
    width: 6em;
}

.card.ar-9x16:before {
    padding-top: calc( ( 16 / 9 ) * 100%);
}

.card .media {  
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: blue;
}

.card.portrait img {
    display: block;
    height: 100%;
    width: auto;
}

.card.landscape img {
    display: block;
    height: auto;
    width: 100%;
}

.card .icon {
    line-height: 1;
    position: absolute;
    color: #fff;
    bottom: 1.5em;
    right: 1.5em;
}